body {
    font-family: 'Open Sans', sans-serif;
    color: #8a8b8b;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(53, 10, 4, .5);
	background-image:url(../images/bg.jpg);
	background-size: cover;
	background-repeat:repeat;
    font-weight: normal;
}

.panel{
    background: #8a8b8b;
}

.tab{
    background: #303030;
    position: absolute;
    width: 97%;
}

.tablegend{
    padding-bottom: 15px;
}

#line{
    position: absolute;
    height:100px;
    width:2px;
    background:red;
    top:12%;
    left:29px;
}


#fretboard{
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 100%;
}
#fretboardimg{
    width: 100%;
    height: 35%;
}


#bpmslider{
    width: 20%;
}


#str1{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 14%;
    left: -2%;
}

#str2{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 26%;
    left: -2%;
}
#str3{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 38%;
    left: -2%;
}

#str4{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 49%;
    left: -2%;
}
#str5{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 61%;
    left: -2%;
}

#str6{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 72%;
    left: -2%;
}

#tabdata{
    font-family: monospace;
    width:100%;
    height:130px;
}

.navbar{
    color: #555555;
    background: #303030;

}