<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chord Library</title>

    <!-- Bootstrap Core CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'guitar/css/bootstrap.min.css' %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'guitar/css/chordlibrary.css' %}" />

    <!-- mandatory script includes for jtab -->
    <script src="http://jtab.tardate.com/javascripts/jquery.js" type="text/javascript"></script>
    <script src="http://jtab.tardate.com/javascripts/raphael.js" type="text/javascript"></script>
    <script src="http://jtab.tardate.com/javascripts/jtab.js" type="text/javascript"></script>

    <script src="{% static 'guitar/guitarlibrary.js' %}"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="navbar-inner">
        <div class="container-fluid">
            <span id = "title">Guitar Tab Visualiser</span>
            <a href="#menu-toggle" class="btn glyphicon glyphicon-th-list pull-right" id="menu-toggle"></a>
        </div>
    </div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">

                <li>
                    <a class="glyphicon glyphicon-chevron-left " href="{% url 'guitar:index' %}"></a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Chord Library
                    </a>

                </li>

                <li>
                    <a href="{% url 'guitar:chords' %}">Search</a>
                </li>
                <li>
                    <a href="{% url 'guitar:cchords' %}">C Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:dchords' %}">D Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:echords' %}">E Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:fchords' %}">F Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:gchords' %}">G Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:achords' %}">A Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:bchords' %}">B Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:chordnames' %}">Chord name reference list</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Chord Library 🎸</h1>
                        <p>This is a library where you can search for any and all guitar chords.</p>
                        <p>To search for a specific chord please enter the correct name of the chord into the search below separated by a space.</p>
                        <p>e.g. <code>Am7 Cm G</code>.</p>

                        <br>

                        <!--<form id="searchChord" class="form-search form-horizontal">-->
                            <div id="searchChord" class="input-append">
                                <input id="chordsearch" type="text" class="search-query mac-style" placeholder="Search chords...">
                                <button id="search" type="button" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        <br>

                        <div class ="chords"></div>
                        <br>
                        <div class ="chords2"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'guitar/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
