<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chord Library - name list</title>

    <!-- Bootstrap Core CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'guitar/css/bootstrap.min.css' %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'guitar/css/chordlibrary.css' %}" />

    <!-- mandatory script includes for jtab -->
    <script src="http://jtab.tardate.com/javascripts/jquery.js" type="text/javascript"></script>
    <script src="http://jtab.tardate.com/javascripts/raphael.js" type="text/javascript"></script>
    <script src="http://jtab.tardate.com/javascripts/jtab.js" type="text/javascript"></script>

    <script src="{% static 'guitar/guitarlibrary.js' %}"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="navbar-inner">
        <div class="container-fluid">
            <span>Chord Library</span>
            <a href="#menu-toggle" class="btn glyphicon glyphicon-th-list pull-right" id="menu-toggle"></a>
        </div>
    </div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">

                <li class="sidebar-brand">
                    <a href="{% url 'guitar:index' %}" class="glyphicon glyphicon-chevron-left">
                        Guitar Tab Visualiser
                    </a>
                </li>
                <li>
                    <a href="{% url 'guitar:chords' %}">Search</a>
                </li>
                <li>
                    <a href="{% url 'guitar:cchords' %}">C Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:dchords' %}">D Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:echords' %}">E Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:fchords' %}">F Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:gchords' %}">G Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:achords' %}">A Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:bchords' %}">B Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:chordnames' %}">Chord name reference list</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Chord Notation</h1>
                        <br>
                        <h4>Chord notation is quite conventional e.g. <code>C Gm F#7 Db</code>.</h4>
                        <span style="white-space: pre-line">
                            - The root note (A..G) must be uppercase
                            - Seperate every item with spaces

                            - <code>#</code> indicates sharp
                            - <code>b</code> (lowercase B) indicates flat

                            - <code>m</code> (lowercase) indicates minor
                            - <code>maj</code> (lowercase) indicates major
                            - <code>sus</code> (lowercase) indicates suspended
                            - <code>dim</code> (lowercase) indicates diminished
                            - <code>aug</code> (lowercase) indicates augmented
                            - <code>add</code> (lowercase) indicates extensions

                            Variations on the root chord: <code>m, 6, m6, 69, 7, m7, maj7, 7b5, 7#5, m7b5, 7b9, 9, m9, maj9, add9, 13, sus2, sus4, dim, dim7, aug</code>

                        </span>

                    </div>
                </div>

                    <div class="row">
                        <div class="span12">
                            <div class = "chords"> </div>
                        </div>
                    </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'guitar/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script type="text/javascript">
        jtab.render($('#row1'),'A Am A6 A69 A7 Am7');
        jtab.render($('#row2'),'Amaj7 A7b5 A7#5 Am7b5 A7b9 A9');
        jtab.render($('#row3'),'Am9 Amaj9 Aadd9 A13 Asus2 Asus4');
        jtab.render($('#row4'),'Adim Adim7 Aaug');
    </script>
</body>

</html>
