<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Dompatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chord Library - D Chords</title>

    <!-- Bootstrap Core CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'guitar/css/bootstrap.min.css' %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'guitar/css/chordlibrary.css' %}" />

    <!-- mandatory script includes for jtab -->
    <script src="http://jtab.tardate.com/javascripts/jquery.js" type="text/javascript"></script>
    <script src="http://jtab.tardate.com/javascripts/raphael.js" type="text/javascript"></script>
    <script src="http://jtab.tardate.com/javascripts/jtab.js" type="text/javascript"></script>

    <script src="{% static 'guitar/guitarlibrary.js' %}"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="navbar-inner">
        <div class="container-fluid">
            <span>Chord Library</span>
            <a href="#menu-toggle" class="btn glyphicon glyphicon-th-list pull-right" id="menu-toggle"></a>
        </div>
    </div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">


                <li class="sidebar-brand">
                    <a href="{% url 'guitar:index' %}" class="glyphicon glyphicon-chevron-left">
                        Guitar Tab Visualiser
                    </a>
                </li>

                <li>
                    <a href="{% url 'guitar:chords' %}">Search</a>
                </li>
                <li>
                    <a href="{% url 'guitar:cchords' %}">C Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:dchords' %}">D Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:echords' %}">E Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:fchords' %}">F Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:gchords' %}">G Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:achords' %}">A Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:bchords' %}">B Chords</a>
                </li>
                <li>
                    <a href="{% url 'guitar:chordnames' %}">Chord name reference list</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>D Chords</h1>
                        <p>A list of all D chords</p>
                        <div id="row1"></div>
                        <br>
                        <div id="row2"></div>
                        <br>
                        <div id="row3"></div>
                        <br>
                        <div id="row4"></div>
                        <br>

                    </div>
                </div>

                    <div class="row">
                        <div class="span12">
                            <div class = "chords"> </div>
                        </div>
                    </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'guitar/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script type="text/javascript">
        jtab.render($('#row1'),'D Dm D6 Dm6 D69 D7');
        jtab.render($('#row2'),'Dm7 Dmaj7 D7b5 D7#5 Dm7b5 D7b9');
        jtab.render($('#row3'),'D9 Dm9 Dmaj9 Dadd9 D13 Dsus2');
        jtab.render($('#row4'),'Dsus4 Ddim Ddim7 Daug');
    </script>
</body>

</html>
