{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'guitar/guitarInputStyle.css' %}" />
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'guitar/guitarInput.js' %}"></script>
</head>

<body>

<h1></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'guitar:app' %}" method="post" id = "tabform">
  {% csrf_token %}
  <fieldset class="tabinput">
    <legend class="tablegend">Tab Entry:</legend>
    Song name:<br>
    <input type="text" name="songname" value="Stairway to Heaven">
    <br>
    Input your Tab:<br>
      <textarea name="tab" rows="50" cols="100" form="tabform">e-------5-7-----7-|-8-----8-2-----2-|-0---------0-----|-----------------|---------7-----7-|-8-----8-2-----2-|-0---------0-----|-----------------|-------0-2-----2-|-0-----0----------|---------3-----3-|---------2-----2-|-0-----0----------|---------------2-|-0-0-0----|
B-----5-----5-----|---5-------3-----|---1---1-----1---|-0-1-1-----------|-------5---5-----|---5-------3-----|---1---1-----1---|-0-1-1-----------|-----------3-----|---1-----0h1------|-1-----1---0-----|-------1---3-----|---1-----0-1------|-------1-----3---|-1-1-1----|
G---5---------5---|-----5-------2---|-----2---------2-|-0-2-2-----------|-----5-------5---|-----5-------2---|-----2---------2-|-0-2-2-----------|-----0-------2---|-----2-------2----|---0---------0---|-----0-------2---|-----2-------2----|-----0-----2-----|-2-2-2----|
D-7-------6-------|-5-------4-------|-3---------------|-----------------|---7-----6-------|-5-------4-------|-3---------------|-----------------|---2-----0-------|-3----------------|-----2-----------|---2-----0-------|-3----------------|---2-----0-------|-3-3-3----|
A-----------------|-----------------|-----------------|-2-0-0---0--/8-7-|-0---------------|-----------------|-----------------|-2-0-0-------0-2-|-3---------------|---------0----0-2-|-3---------------|-3---------------|---------0----0-2-|-3---------------|----------|
E-----------------|-----------------|-----------------|-----------------|-----------------|-----------------|-----------------|-----------------|-----------------|------------------|---------3-------|-----------------|------------------|-----------------|----------|
      </textarea>
    <br><br>
    <input class="submit" type="submit" value="Submit">

      <input class="test" type="button" value="test">
  </fieldset>
</form>


<!--
e|7--7--7--|7--5--3--|3--2--0--|0--3--7--|12-12-12-|12-10-8--|8--7--5--|5--7--8--|7--8--7--|11-8--7--|7--5--3--|3--2--0--|2--2--2--|2--3--2--|0--------|---------|
B|-0--0--0-|-0--0--0-|-0--0--0-|-0--0--0-|-0--0--0-|-0--0--0-|-5--5--5-|-5--5--5-|-7--7--7-|-7--7--7-|-0--0--0-|-0--0--0-|-0--0--0-|-0--0--0-|-0--0--0-|---------|
G|--0--0--0|--0--0--0|--0--0--0|--0--0--0|--0--0--0|--0--0--0|--5--5--5|--5--5--5|--8--8--8|--8--8--8|--0--0--0|--0--0--0|--2--2--2|--2--2--2|--0--0--0|---------|
D|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|
A|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|2--------|2--------|---2-----|---------|
E|0--------|0--------|0--------|0--------|0--------|0--------|5--------|5--------|7--------|7--------|0--------|0--------|---------|---------|0-----3--|0--------|



Hotel California
e|--------------------7--10--12--|------9----------9----------|--5-----5--5--7--5--------5--7--7-----|-----7-----7--------7--|-----7-----7--------7-------------10--|------10----------10----------10----------10------|-----7-----7--------7--7---------|------9------9----------9--|--7--7-----10--------7--7-----------|------9----------9----------|--5-----5--5--7--5--------5--7--7-----|--------------------7--|-----7-----7--------7-------------10--|
B|--7-----7-----7----------------|--11-----11-------------11--|-----5-----------------5-----------7--|--7-----------7--------|--8-----------8--------8--10h12-------|--10------------------------------10----------11--|--------------8--8--------8------|----------------11---------|--7-----7------7--7--------7--------|--11-----11-------------11--|-----5-----------------5-----------7--|--7--7-----------------|--8-----------8--------8--10h12-------|
G|--7--7-----------7-----7---9---|--11---------11-----11------|--------------------------------------|--7-----7--------7-----|--7-----7--------7--------------------|----------11--11------11--11----------------------|--9-----9--------------------9---|--11-----11---------11-----|--7---------------------------7h9---|--11---------11-----11------|--------------------------------------|--7-----7-----7--------|--7-----7--------7--------------------|
D|--9--------9-------------------|--8-------------------------|--7-----------------7--------7--------|-----------------------|--9-----------------------------------|--------------------------------------12----------|---------------------------------|---------------------------|--9--------9------------------------|--8-------------------------|--7-----------------7--------7--------|--9--------9-----9-----|--9-----------------------------------|
A|--9----------------------------|----------------------------|--------------------------------------|-----------------------|--------------------------------------|--------------------------------------------------|-----------------------------10--|--9------------------------|--9---------------------------------|----------------------------|--------------------------------------|-----------------------|--------------------------------------|
E|--7----------------------------|----------------------------|--------------------------------------|-----------------------|--------------------------------------|--------------------------------------------------|---------------------------------|---------------------------|--7---------------------------------|----------------------------|--------------------------------------|-----------------------|--------------------------------------|

-->



<!-- USE COOOKIES(front end layout pref) or SESSIONS(server side for particular session) TO SEND TABINFO -->
<!--
<script>

    var main = function(){

    $('.test').click(function(){
        $('.tabinput').fadeOut(500);
        $('.tabinput').fadeIn(500);

        var tabData = $('.tabinput').serializeArray();
        console.log(tabData);

    });

    $('.submit').click(function(){
        var input = $('.tab').val();


    });

}

$(document).ready(main);
</script> -->

</body>